body { padding-top: 50px; }
/* previously padding-top: 70 px; */

/*################################ IMAGE MOVMENT  ################################ */

.img-m {
margin: 0px 0px 0 24px; /* margin for the div side*/
}
.img-m:hover {
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.img-m:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

/* ###############################  BOX HOME CAT  ################################ */
.med-box-cat {
  margin: 15px 15px 65px 15px; /* margin for the div side*/
  vertical-align: middle;
  padding: 35px 0;
  border: 2px solid #f4eeea;
}



/* ###############################  BUTTONS  ################################ */
.button-plus {
  padding: 10px 40px 10px 40px;
  border: 2px solid #c6d4aa;
  color: #786455;
  font-size: 0.8em;
  font-family: 'merriweatheritalic';
  display: inline-block;
  background: transparent;
  position: relative;
}
.button-plus span {
  display: inline-block;
  vertical-align: middle;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -moz-transform: translateX(8px);
  -ms-transform: translateX(8px);
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}
.button-plus:after {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/icons/arrow-small-brown.png");
  content: "";
  width: 16px;
  height: 7px;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
.button-plus:hover span {
  -moz-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}
.button-plus:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: translateX(20px);
  -ms-transform: translateX(20px);
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
}
.button-plus.white-arr:after {
  background: url("../images/icons/arrow-small-white.png");
}
